<div class="container">
  <div class="row">
    <button class="col-md-6 offset-3 btn btn-primary"
            (click)="chooseOrganizingNotesComponent()"
            *ngIf="!organizingNotesChose">
      {{organizeNotesComponentName}}
    </button>
  </div>
  <app-organize-notes *ngIf="organizingNotesChose"></app-organize-notes>
  <hr>
  <div class="row">
    <button class="col-md-6 offset-3 btn btn-primary"
            (click)="chooseBackupSoftComponent()"
            *ngIf="!backupSoftChose">
      {{backupSoftComponentName}}
    </button>
  </div>
  <app-backup-soft *ngIf="backupSoftChose"></app-backup-soft>
  <hr>
  <div class="row">
    <button class="col-md-6 offset-3 btn btn-primary"
            (click)="chooseBackupHardComponent()"
            *ngIf="!backupHardChose">
      {{backupHardComponentName}}
    </button>
  </div>
  <app-backup-hard *ngIf="backupHardChose"></app-backup-hard>
  <hr>
</div>
